@use "sass:math";

.cc-note {
  display: grid;
  gap: math.div($unit, 2);
  @include margin(n n $padding n);
}

.cc-note__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: math.div($unit, 2);
}

.cc-note__attachments {
  flex-shrink: 0;
}

.cc-note__byline {
  @include font-size(font-size(micro));
}

.cc-note__actions,
.cc-file__actions {
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-start;
  top: math.div(-$unit, 2);
  right: math.div(-$unit, 2);
  .c-pop-out {
    z-index: 1;
  }
}
