.ac-list {
  display: grid;
  grid-auto-flow: row;
  gap: var(--gap);

  &.\+double-space {
    gap: calc(var(--gap) * 2);
  }
}

.ac-list__body {
  overflow: auto;
}

.ac-list__head {
  display: flex;
  gap: var(--gap);
}
